<br><p class="titulo">Carrinho de compras</p>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <tbody>
        <tr> 
          <td class="td-img">
            <img
              src="assets/produtos/produto2.jpg"
              class="card-img-top img-fluid w-75"
              [alt]=""
            />
          </td>
          <td class="td-col">
            Pc Gamer 13 Intel I7 10700 / 16gb Rgb / Ssd 512g / Water Cooler 240
            / Rtx 3070
          </td>
          <td class="td-col">
            <strong>{{ 19133.27 | currency: "BRL" }}</strong>
          </td>
        </tr>

        <tr> 
            <td class="td-img">
              <img
                src="assets/produtos/produto2.jpg"
                class="card-img-top img-fluid w-75"
                [alt]=""
              />
            </td>
            <td class="td-col">
              Pc Gamer 13 Intel I7 10700 / 16gb Rgb / Ssd 512g / Water Cooler 240
              / Rtx 3070
            </td>
            <td class="td-col">
              <strong>{{ 19133.27 | currency: "BRL" }}</strong>
            </td>
          </tr>
          <tr class="tr-valor">
              <td colspan=3 class="td-col valor">Total:
                {{ 19133.27 | currency: "BRL" }}
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="botao-finalizar">
    <button
    type="button"
    class="btn btn-lg btn-success"
  >
    <i class="bi bi-cart-check"></i> Finalizar compra
  </button>
</div>
    
