table{
    width: 80%;
    margin-left: 100px;
}
.td-img{
    width: 100px;
    line-height: 100px;
    height: 100px;
}
.td-col{
    line-height: 100px;
    height: 100px;
}
.titulo{
    text-align: center;
    font-size: 25px;
    margin-left: 100px;
    font-weight: bold;
    border-bottom: 2px solid green;
    width: 250px;
}
.valor{
    text-align: right;
   padding-right:50px;
    font-size: 20px;
    margin-left: 100px;
    font-weight: bold;
}

.tr-valor{
    background-color: rgba(0, 128, 0, 0.156);
}
.botao-finalizar{
    text-align: right;
    margin-right: 250px;
}